.field-slideshow-controls {
  padding-bottom: 20px;
}

.field-slideshow-controls .prev {
  padding-right: 20px;
}

.field-slideshow-controls .pause {
  padding-right: 20px;
}

.field-slideshow-controls .play {
  padding-right: 20px;
}

.field-slideshow {
  width: 500px;
}

.field-slideshow-wrapper {
  text-align: center;
}

.field-slideshow {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

.field-slideshow-caption {
  background-color: #000;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field-slideshow-title {
  background-color: #000;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.field-slideshow-title-wrapper {
  padding-bottom: 3px;
}

.field-slideshow-pager {
  padding: 10px;
  background-color: #d3d3d3;
}

.field-slideshow-carousel-wrapper li.jcarousel-item {
  margin: 0;
  width: 100px;
}

.field-slideshow-slide {
  position: relative !important;
}
