.field-name-field-uw-image-gallery-images .field-items .field-item img {
  display: block;
  width: 100%;
  height: auto;
}

#content .field-name-field-uw-image-gallery-images .field-items .field-item img {
  display: block;
  width: 100%;
  height: auto;
}

.image-field-caption {
  display: none;
}

.image-gallery-wrapper {
  position: relative;
}

.image-caption .caption {
  margin-top: 1rem;
}

.image-title {
  width: 100%;
  position: absolute;
  background-color: #252525;
  opacity: 0.8;
  color: white;
  bottom: 0px;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  color: #fcd450;
  font-weight: bold;
}

[id*="image-gallery-thumbnail"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  clear: both;
}

[id*="image-gallery-thumbnail"] .item {
  flex: auto;
  padding: 0.2rem;
  width: 32%;
}

[id*="image-gallery-thumbnail"] div img {
  width: 100%;
  height: auto;
}

[id*="image-gallery-carousel"] .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* Colorbox caption */
#cboxTitle {
  position: absolute;
  bottom: 28px;
  left: 0;
  background-color: #252525;
  opacity: 0.8;
  color: white;
  padding: 4px 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* UW Owl Carousel styling */
.uw-image-gallery .owl-theme .owl-controls .owl-buttons button {
  color: #252525;
  display: inline-block;
  zoom: 1;
  display: inline;
  margin: 6.4px;
  margin: 0.4rem;
  padding: 13.2px;
  padding: 0.825rem;
  font-size: 14.4px;
  font-size: 0.9rem;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.uw-image-gallery .owl-controls button {
  background: none;
  border: none;
  box-shadow: none;
}

body #main .uw-image-gallery .owl-theme .owl-controls.clickable .owl-buttons button:hover {
  background-color: #757575;
  color: #ffffff;
  text-decoration: none;
}

.uw-image-gallery .owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.uw-image-gallery .owl-page:hover {
  background-color: white;
}

.uw-image-gallery .owl-controls .owl-buttons button {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 5em;
}

.uw-image-gallery .owl-controls .owl-pagination button {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 2em;
  height: 2em;
}

.uw-image-gallery .owl-theme .owl-controls .owl-page span {
  display: block;
  height: 14.4px;
  height: 0.9rem;
  width: 14.4px;
  width: 0.9rem;
  margin: 5.008px 7.008px;
  margin: 0.313rem 0.438rem;
  filter: Alpha(Opacity=4);
  opacity: 0.4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #757575;
  -moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.3);
}

.uw-image-gallery .owl-theme .owl-controls .owl-page.active {
  background-color: transparent;
}
.uw-image-gallery .owl-theme .owl-controls .owl-page.active span,
.uw-image-gallery .owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.uw-image-gallery .owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 14.4px;
  font-size: 0.9rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.uw-image-gallery .owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

.uw-image-gallery .owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.uw-image-gallery .owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.uw-image-gallery .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.uw-image-gallery .owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.uw-image-gallery .owl-carousel .owl-item {
  float: left;
}

.uw-image-gallery .owl-controls .owl-page,
.uw-image-gallery .owl-controls .owl-buttons div {
  cursor: pointer;
}

.uw-image-gallery .owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.grabbing {
  cursor: url(../images/grabbing.png) 8 8,move;
}

.uw-image-gallery .owl-carousel .owl-wrapper,
.uw-image-gallery .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}

@-webkit-keyframes empty {
  0% {
    opacity: 1;
  }}

@-moz-keyframes empty {
  0% {
    opacity: 1;
  }}

@keyframes empty {
  0% {
    opacity: 1;
  }}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }100% {
    opacity: 1;
  }}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }100% {
    opacity: 1;
  }

}@keyframes fadeIn {
  0% {
    opacity: 0;
  }100% {
    opacity: 1;
  }}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }100% {
    opacity: 0;
  }}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }100% {
    opacity: 0;
  }}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }100% {
    opacity: 0;
  }}

@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }}

@-moz-keyframes backSlideOut {
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }}

@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }}

@-webkit-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }}

@-moz-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }75% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }}

@keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }75% {
    opacity: .5;
    transform: translateZ(-500px);
  }100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }}

@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }}@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }}@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }}

@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
  }}@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%);
  }}

@keyframes goDown {
  from {
    transform: translateY(-100%);
  }}@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }}@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }}

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }}@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }}@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }}

@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }}.owl-theme .owl-controls {
  margin-top: 12.8px;
  margin-top: 0.8rem;
  text-align: center;
}
